*, *:before, *:after {
  box-sizing: border-box !important;
  margin:0;
  padding:0;
}
header {
	background-color: #1B2A2E;
	height: 100vh;
	padding-top: 20px;
	padding-top: 08%;
}
header .wrapper {
	position: relative;
}
.vizzes {
	background-color: #f5f5f5;
}
.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.vwrapper {
	max-width: 1150px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.intro-image{
	justify-content:center;
	/* padding: 50% 50% 80% 0%; */
}

.corpus {
	background: #1B2A2E;
	padding: 3rem;
}


/*  styles for background color, etc; not necessary for this thing to work  */
body {
font-family: 'Spartan', Futura, sans-serif;
  background: #f5f5f5;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 300; /*300 400 600 700*/
  color: #eee;
}

h1 {
	font-size: 8rem;
	font-weight: 700;
	color: #eee;
	margin:0;
}
h2 {
	font-size: 6rem;
	font-weight: 700;
	color: #eee;
	transform:skewX(170deg);
}

.intro {
	width: 500px;
}



