*, *:before, *:after {
  box-sizing: border-box !important;
  margin:0;
/*   padding:0; */
}
header {
	background-color: #394053;
	height: 100vh; 
	padding-top: 08%;
}
header .wrapper {
	position: relative;
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	padding: 2rem;
	/* display: flex; */
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
	/* justify-content: center; */
	align-items: center;
}
.vwrapper {
	max-width: 1150px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.intro-image{
	justify-content:top;
	height: auto;
	max-width: 80%;
	/* padding: 50% 50% 80% 0%; */
}
.intro-text{
	justify-content:top;
	grid-column-start: 2; 
	grid-column-end: 2;
	/* padding: 50% 50% 80% 0%; */
}
.intro-title{
	padding: 20 px;
	height: auto;
}
.title-image{
	height: auto;
  	max-width: 90%;
}

.intro-title-text{
	display: block;
	padding-top: 10rem;;
}

.vizcontainer {
	background-color: #f5f5f5;
}

.footer {
	background: #394053;
	padding: 04%;
	padding-top: 02%;
	
}
.footer-text{
	max-width: 1100px;
	margin: 0 auto;
	padding: 6rem;
}

body {
	font-family: 'Spartan', Futura, sans-serif;
	background: #f5f5f5;
	line-height: 1.4;
	font-size: 16px;
	font-weight: 300; 
	color: #eee;
}



